{% extends 'base.html' %}
{% load static %}
{% block title %}
Ingresar al sistema
{% endblock %}

{% block body %}
<br><br>


<h1 class="h1-login">Ingresar al sistema</h1>
<div class="container">
    
    <form action="" method="POST">
        {% if form.errors %}
        <h1>a</h1>
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    {%csrf_token%}
        <div class="mb-3 col-12 logo-login"><img src="{% static 'img/logo-png-128-nobg.png' %}" alt="logo-piliscoffee"></div>
        <div class="mb-3 col-12">
            <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
        </div>
        <div class="mb-3 col-12" >    
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
            
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success text-center">Iniciar sesion</button>
        </div>
        
    </form>
    
</div>





{% endblock %}