*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(to left, #ffe9c0, rgb(255 253 239) 25%, rgb(255 251 229) 75%, #ffe9c0 100%) !important;
	padding-top: 65px; 
}

.hamburger{
	display:none;
}
.container{
	background-image: linear-gradient(to left, #ffe9c0, rgb(255 253 239) 25%, rgb(255 251 229) 75%, #ffe9c0 100%) !important;
	padding-bottom: 10%;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-evenly;	
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.4s;
	padding: 30px;
	z-index: 100000;
}

header.sticky{
	padding: 30px;
	background-image: linear-gradient(to left, #ffe9c0, rgb(255 253 239) 25%, rgb(255 251 229) 75%, #ffe9c0 100%) !important;
	border-bottom: #8E6224 2px solid;
}

.navbar{
	align-items: center;
    display: flex;
	justify-content: space-evenly;
	font-family: 'Montserrat';	
	font-weight: bold;
	font-size: 24px;
	color: #8E6224;
}

.navbar span{
	margin: 0 30px;
}

nav{	

}

.shadow{
	filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.233)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.19));
}

.navbar a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

#ig-logo-navbar{
	height: 72px;
	width: auto;
}


#ig-logo-navbar:hover{
	height: 80px;
	width: auto;
	transition: 0.3s;
}

.welcome-message-container{	
	display: flex;
	flex-direction: column;
	align-items: center;	
	margin-top: 185px;
}

.text-home-1{
	font-family: 'Lora';
	font-size: 24px;
	color: #766246;
	padding: 20px 0;
}


.text-home-2{
	font-family: 'Lora';
	font-weight: bold;
	font-size: 48px;
	color: #8E6224;
	opacity: 0.8;
}

.img-home{
	width: 30%;
	height: auto;
}

.info-title{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #766246;
	padding: 35px 0;
}

.img-text{
	height: 250px;	
	display: flex;
	justify-content: center;
	align-items: center;
}

#heart-coffee{
	width: 180px;
	height: auto;
	margin-right: 30px;
}

#bombones-heart{
	width: 200px;
	height: auto;
	margin-left: 30px;
}

#donuts-home{
	width: 180px;
	height: auto;
	margin-right: 30px;
}

#helado-home{
	width: auto;
	height: 180px;
	margin-left: 30px;
}

#products-home{
	width: auto;
	height: 180px;
	margin-right: 30px;
}


.text-btn-bottom{
	display: flex;
	flex-direction: column;
	width: 500px;
	align-items: center;
	justify-content: center;
	
}

.imtx-left{
	flex-direction: row-reverse;
}
.text-btn-bottom span{
	font-family: 'Montserrat';
	font-size: 28px;
	color: #766246;
	text-align: center;
}

.text-btn-bottom a{
	font-family: 'Montserrat';
	font-size: 24px;
	color: white;
	text-align: center;
	background-image: linear-gradient(to left, #915e00, #c59f6a 25%, #c59f6a 75%, #915e00 100%);
	border-radius: 35px;
	width: 50%;
	padding: 10px;
	cursor: pointer;
	filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.233)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.19));
	border: none;
	text-decoration: none;
}

.reveal{
	transform: translateY(100px);
	opacity: 0;	
}

.reveal.show{
	transform: translateY(0px);
	opacity: 1;
	transition: all 1s ease;	
}

.map-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.map{
	border: 0;
	border-radius: 40px;
}

.under-map{
	font-family: 'Montserrat';
	font-size: 24px;
	color: #766246;
	margin: 10px 50px;
	width: 20%;
	text-align: left;
}



.piliscoffee-font{
	font-family: 'Great Vibes';
}

.card-img span.text-over-img:hover{
	transform: translateX(-10%);	
	transition: 0.5s;
}


@media only screen and (max-width: 950px){
	
	header{
		justify-content: space-between;
		padding: 10px 25px 0 0;
	}

	header.sticky{
		justify-content: space-between;
		padding: 35px 25px 0 0;
	}
	
	.hamburger{
		display: block;		
		cursor: pointer;
	}

	.hamburger .line-hamburger{
		width: 30px;
		height: 3px;
		background: #766246;
		border-radius: 50px;
		margin: 6px 0;
	}

	.navbar{
		height: 0;
		position: absolute;
		top: 200px;
		left: 0;
		right: 0;
		width: 100vw;
		transition: 0.5s;		
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		overflow: hidden;
	}

	.welcome-message-container{	
		margin-top: 100px;
	}

	.navbar.active{
		height: 350px;
		background-image: linear-gradient(to left, #ffe9c0, rgb(255 253 239) 25%, rgb(255 251 229) 75%, #ffe9c0 100%);
		opacity: 1;		
	}

	.navbar.active span{
		opacity: 1;		
		background-color: rgb(255 253 239);
		filter: none;
		vertical-align: middle;
	}
	
	.navbar span{
		width: fit-content;
		margin: 30px auto 0 auto;
		text-align: center;
		opacity: 0;
		transition: 0.5s;
	}

	#ig-logo-navbar{
		height: 64px;
		width: auto;
	}
	.hamburger-container{
		padding: 0 15px;
	}
	.text-home-1{
		text-align: center;
	}
	.text-home-2{
		font-size: 36px;
		transition: 0.5s;
		text-align: center;
	}
	
	.img-home{
		width: 60%;		
		transition: 0.5s;
	}

	.to-hide-from-navbar.toHide{
		opacity: 0;
		transition: 0.3s;
	}
	
	.text-btn-bottom a{
		width: 70%;
	}

	.info-title{
		font-size: 36px;
	}
	.text-btn-bottom span{
		font-size: large;
	}
	.text-btn-bottom a{
		font-size: medium;
	}
	#heart-coffee{
		width: 150px;
		height: auto;
		margin-right: 18px;
	}
	
	#bombones-heart{
		width: 170px;
		height: auto;
		margin-left: 18px;
	}

	#donuts-home{
		width: 150px;
		height: auto;
		margin-right: 18px;
	}

	.map-container{
		padding: 0 10px;		
		flex-direction: column;
	}
	.map{
		width: 300px;
		height: 300px;
	}
	
	.under-map{
		font-size: medium;
		width: 100%;
		margin-top: 20px;
		padding: 0 10px;		
		margin-left: 0px;
		text-align: center;
		justify-content: center;
	}

	.local{
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 20px;
	}

	.card-img {
		height: 500px;
		width: 450px;
		padding: 30px;
	}
	.card-img img:hover{
		height: 100%;
		width: 100%;
		transform: none;	
		transition: none;
	}
	
	.card-img span.text-over-img{
		font-size: 24px;
	}
	
	.card-img span.text-over-img:hover{
		transform: none;	
		transition: none;
	}

}

