* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #ffffff;
}

nav {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #FFF;
	padding: 1rem 1.5rem;    
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
	transition: 0.1s;    
    font-family: "Roboto Thin";
    font-size: 24px;
}

.menu span{
	margin: 0 1rem;
	color: white;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.menu a:hover {
	color: #caa97d;
	font-weight: bold;	
    font-size: 28px;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 10rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #000;
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.mobile-menu span {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	font-size: 1.25rem;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.mobile-menu a:hover {
	color: #caa97d;
	background-color: #311e02;	
	font-weight: bold;	
    font-size: 32px;
}

@keyframes cambio {
	0% {
		margin-left: 0%;
	}
	15% {
		margin-left: 0%;
	}

	20% {
		margin-left: -100%;
	}
	35% {
		margin-left: -100%;
	}

	40% {
		margin-left: -200%;
	}

	55% {
		margin-left: -200%;
	}

	60% {
		margin-left: -300%;
	}
	
	75% {
		margin-left: -300%;
	}

	80% {
		margin-left: -400%;
	}
	100% {
		margin-left: -400%;
	}
}

@media screen and (min-width: 700px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}	
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	width: min(100% - 40px, 200px);
	
}

form{
	
	background-color: #1d1d1d17;
	padding: 30px 100px 60px;
	
	border-radius: 40px;
	
	box-shadow: 5px 10px 8px #888888;
}

.h1-login{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto Thin";
	font-size: 36px;
	padding-bottom: 20px;
}

.logo-login{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	
}

.ingresar{
	background-color: #29c43e77;
	border-radius: 5px;
	padding: 10px;
}

.salir{
	background-color: #c4292977;
	border-radius: 5px;
	padding: 10px;
}

