* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #ffffff;
}

nav {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #FFF;
	padding: 1rem 1.5rem;    
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
	margin: 0 1rem;
	color: white;
	text-decoration: none;
	transition: 0.1s;    
    font-family: "Roboto Thin";
    font-size: 24px;
}

.menu a:hover{
	color: #cea558
}

.menu span{
	margin: 0 1rem;
	color: white;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 10rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #000;
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.mobile-menu span {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	font-size: 1.25rem;
    font-family: "Roboto Thin";
    font-size: 24px;
}

.container-home{
	background-color: #58491e27;
	padding: 30px 70px 60px;
	box-shadow: 5px 10px 8px #888888;
	display: flex;
	flex-direction: column;	
	align-items: center;
	border-radius: 40px;
	margin: 2% 30%;

}

.menu-ventas, .menu-inventario, .menu-reportes {
	display: flex;
	height: 80px;
	background-color: #000;	
	align-items: center;
	justify-content: center;
	border-top: 1px solid white;
}

.menu-ventas a{
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 20px 200px;	
}

.menu-inventario a, .menu-reportes a{
	text-decoration: none;
	color: white;
	font-family: 'Roboto';
	font-size: 20px;
	padding: 20px 100px;
}

.menu-ventas a:hover, .menu-inventario a:hover, .menu-reportes a:hover{
	color: #cea558;
	background-color: #58431c94;
}

@media(max-width: 1750px){
	.menu-inventario a{
		padding: 20px 70px;
	}
}


@media(max-width: 1650px){
	.menu-ventas a{
		padding: 20px 100px;
	}	
}

@media(max-width: 1450px){
	.menu-inventario a{
		padding: 20px 40px;
		font-size: 15px;
	}
	.menu-reportes a{
		padding: 20px 60px;

	}
}

@media (min-width: 1300px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}

	
}

@media(max-width: 1350px){
	.menu-inventario{
		height: 85px;		
	}
	
	.menu-inventario a{
		padding: 20px 8px;
		font-size: 15px;
		text-align: center;		
		
	}

	


}

@media (max-width:1050px){
	
	.menu-ventas a{
		padding: 20px 30px;
	}

	.container-home{
		margin: 5% 20%;
	}

	.menu-reportes a{
		font-size: 18px;
		padding: 20px 30px;
		text-align: center;
	}
}

@media (max-width:640px){
	
	.menu-ventas a{
		padding: 20px 10px;
		font-size: 15px;
	}

	.container-home{
		margin: 5% 5%;
	}

	.menu-reportes{
		height: 85px;
	}
	.menu-reportes a{
		font-size: 15px;
		padding: 20px;
		text-align: center;
	}
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	width: min(100% - 40px, 200px);
	
}

form{
	
	background-color: #1d1d1d17;
	padding: 30px 100px 60px;
	
	border-radius: 40px;
	
	box-shadow: 5px 10px 8px #888888;
}

.h1-login{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto Thin";
	font-size: 36px;
	padding-bottom: 20px;
}

.logo-login{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	
}

.ingresar{
	background-color: #29c43e77;
	border-radius: 5px;
	padding: 10px;
}

.salir{
	background-color: #c4292977;
	border-radius: 5px;
	padding: 10px;
}

